h1{
    text-align: center;
    color: #3aac59 !important;
    font-weight: bold !important;
}
[data-md-color-scheme="chia"] {
    --md-primary-fg-color:        #3aac59;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
    --md-hue: 210; 
}
.md-header__button.md-logo img{
    height: 64px !important;
}
.md-content>article>p{
    text-indent: 2em;
}